/*esse aqui é a fonte importada do google font*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* o root serve para englobar as repetições de codigo em uma variavel, ver documentação*/
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* esse * é um elemento onde ajuda a fazer um reset de coisas que não queremos em nossa pagina durante o desenvolvimento como por exemplo os espaços desnecessarios da margin e do padding, para isso basta colocar o valor zerado e ja vamos ver a diferença na pagina*/
* {
    margin: 0;
    padding: 0;
}

/*seletor que modifica a cor de fundo e das letras na tag body*/
body {
    /* height: 100vh; */
    box-sizing: border-box;/*isso serve para que o elemento filho não ultrapasse o elemento pai e não sai para fora das margens estabelecidas para a pagina.*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/*esse é uma classe do elemento pai main que vai utilizar o flexbox para organizar espacialmente o conteudo na pagina*/
.apresentacao {
    /* margin: 10% 15%; - a margin deixa um tamanho maior do que precisa, o padding é melhor*/ 
    padding: 5% 15%;
    display: flex;
    align-items: center;/*aqui centraliza conforme o maior item da pagina.*/
    justify-content: space-between;/*aqui faz um espaço entre os elementos sem ultrapassar a margem do pai*/
    gap: 82px; /*da espaço entre os elementos filhos*/
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

/*classe que destaca o azul do titulo*/
.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 50%;
    height: auto;
    border: solid 3px var(--cor-terciaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }


}